@import "tailwindcss";

@layer sidebar {
    .sidebar-container {
        width: 20rem;
        position: relative;
        margin-left: 380px;
        background-color: #b6b7bb;
        border: 4px solid #5e637e;
        padding: 1.5rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -400px;
    }

    .sidebar-profile {
        width: 13.5rem;
        height: 13.5rem;
        border-radius: 9999px;
        background-color: #0a3273;
        background-image: url('/img/imagen.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .sidebar-button {
        width: 12rem;
        height: 4rem;
        margin-top: 1.5rem;
        background-color: #073c80;
        border: 3px solid black;
        border-radius: 1rem;
        color: white;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.2s;
    }

    .sidebar-admin-button:hover {
        background-color: #042248;
    }

}

@layer sidebar {
    .sidebar-container.admin {
        width: 20rem;
        position: relative;
        margin-right: 750px;
        background-color: #b6b7bb;
        border: 4px solid #5e637e;
        padding: 1.5rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -400px;
    }

}